.division {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    background-color: white;
}

.division div {
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 30%;
}

.division .img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.division div img {
    width: 100%;
    height: 100%;
}

.division.dark {
    background-color: rgb(65, 63, 63);
    color: white;
}

.container {
    padding: 5%;
    padding-top: 0% !important;
}

@media only screen and (max-width: 600px) {
    .division div.img {
        width: 0%;
    }
    .division div.text {
        width: 100%;
    }
    .division.dark .text h1,
    .division.dark .text p {
        text-align: center;
    }
}