<div class="container">
    <div class="division">
        <div class="text">
            <h1>We salute you</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sint est reprehenderit, voluptatibus dolorum nisi ad, repudiandae odio minima, iure porro. Vitae, fuga aliquid laboriosam soluta temporibus possimus voluptate illum.
            </p>
        </div>
        <div class="img">
            <img src="/assets/img/salute.jpg" alt="salute image">
        </div>
    </div>

    <div class="division dark">

        <div class="img">
            <img src="/assets/img/wolf.jpg" alt="salute image">
        </div>

        <div class="text">
            <h1>A propos du code console</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sint est reprehenderit, voluptatibus dolorum nisi ad, repudiandae odio minima, iure porro. Vitae, fuga aliquid laboriosam soluta temporibus possimus voluptate illum.
            </p>
        </div>

    </div>
</div>