<div class="head">
    <div class="banner">
        <div class="nav">
            <div class="item" routerLink="/">Accueil</div>
            <div class="item" routerLink="/articles">Articles</div>
        </div>
        <div class="greeting">
            <h1>Code console</h1>
            <h3>Bienvenue au club</h3>
        </div>

    </div>
</div>
<router-outlet></router-outlet>


<div class="footer">
    <dir>
        <hr>
        <h1>Made by the codeconsole team</h1>
        <p>Email us <span>codeconsoleteam@gmail.com</span></p>
    </dir>
</div>