.container {
    background: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.img {
    position: relative;
    width: 30%;
}

.img button {
    border: none;
    position: absolute;
    top: 45%;
    left: 90%;
    opacity: 0.4;
    background: rgba(128, 128, 128, 0.603);
    border-radius: 50pt;
    padding: 5%;
    color: white;
    font-weight: bold;
}

.content {
    position: relative;
    text-align: center;
    color: white;
    width: 60%;
}

.content h1 {
    color: lightgray;
}

.content p {
    font-weight: bold;
    width: 100%;
}

.img img {
    height: 100%;
    width: 100%;
}

.techno {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    word-wrap: wrap;
    flex-direction: row;
}

.techno div {
    width: 30%;
    padding: 3%;
    color: rgba(255, 255, 255, 0.644);
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
}

.hide {
    text-align: center;
}

.next {
    display: none;
}

@media only screen and (max-width: 600px) {
    .content,
    .img {
        width: 100%;
    }
    .techno {
        display: none;
    }
    .next {
        display: inline-block;
        padding: 10%;
        background: rgba(128, 128, 128, 0.637);
        color: white;
        font-weight: bold;
        border: none;
    }
    .img button {
        display: none;
    }
}